/*Start loader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6f4fe;
  z-index: 99999999;
  width: 100%;
  height: auto;
}

#status {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#status img {
  max-width: 100%;
}
.tab_img span {
  display: inline-block;
  padding: 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #132725;
}

#status:before {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
  opacity: 1;
  bottom: 0;
  right: 0;
  margin: auto;
  border-bottom: 2px solid #07d8ff;
  border-radius: 50%;
  -webkit-animation: rotatingPlus 1s linear infinite;
  animation: rotatingPlus 1s linear infinite;
}

#status:after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 90%;
  height: 90%;
  left: 0;
  top: 0;
  opacity: 1;
  bottom: 0;
  right: 0;
  margin: auto;
  border-top: 2px solid #308def;
  border-radius: 50%;
  -webkit-animation: rotatingMinus 5s linear infinite;
  animation: rotatingMinus 5s linear infinite;
}

@-webkit-keyframes rotatingPlus {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotatingPlus {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*End loader */
