/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media screen and (max-width: 1480px) {
  .primary-btn,
  .secondary-btn {
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 10px;
  }
  .navbar-brand img {
    max-width: 230px;
  }
  .nav-item > a {
    border-radius: 10px;
    font-size: 18px;
  }
  .common-heading-section h1 {
    font-size: 55px;
    line-height: 70px;
  }
  .hospital-address-box h4 {
    font-size: 22px;
  }
  .hospital-address-box ul li,
  .hospital-address-box ul li span a {
    font-size: 16px;
  }
  .hospital-item {
    padding: 20px;
  }
  .service-card-content h4 {
    font-size: 24px;
  }
  .service-card-content p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1281px) {
  .item-gap .slick-slide {
    margin: 0 20px !important; /* Left and right spacing between items */
  }
  .item-gap .slick-list {
    margin: 0 -20px !important; /* Negative margin to balance total spacing */
  }
}
@media screen and (max-width: 1280px) {
  .navbar {
    border-radius: 12px;
    padding: 16px 0;
  }
  .nav-item > a {
    border-radius: 8px;
    font-size: 16px;
  }
  .primary-btn,
  .secondary-btn {
    font-size: 16px;
    border-radius: 8px;
  }
  .breadcrumb-box h3 {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 8px;
  }
  .mision-text-box {
    margin-top: 0px;
  }
  .filter-item input::-webkit-input-placeholder {
    padding: 8px 10px !important;
    font-size: 16px !important;
    overflow: hidden;
    border-radius: 12px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  .filter-item input::-moz-placeholder {
    padding: 8px 10px !important;
    font-size: 16px !important;
    overflow: hidden;
    border-radius: 12px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  .filter-item input:-ms-input-placeholder {
    padding: 8px 10px !important;
    font-size: 16px !important;
    overflow: hidden;
    border-radius: 12px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  .filter-item input::-ms-input-placeholder {
    padding: 8px 10px !important;
    font-size: 16px !important;
    overflow: hidden;
    border-radius: 12px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  .filter-item input,
  .filter-item input::placeholder {
    padding: 8px 10px !important;
    font-size: 16px !important;
    overflow: hidden;
    border-radius: 12px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  .filter-item .date-wrapper {
    border-radius: 12px;
  }
  .filter-item .input-item{
    border-radius: 12px;
  }
}
@media screen and (max-width: 1199px) {
  #navbarText {
    position: absolute;
    top: 80px;
    width: 100%;
    background: #e6e6e8;
    left: 0;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 9999;
    padding-bottom: 40px;
  }
  .navbar-nav {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-description {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .service-card-content h4 {
    font-size: 18px;
  }
  .service-card-content p {
    font-size: 15px;
  }
  .service-card-content {
    padding: 20px;
  }
  .invert-border-shape {
    height: 110px;
    width: 110px;
  }
  .doctor-card {
    padding: 15px;
    padding-bottom: 25px;
  }
  .doctor-content-text h4 {
    font-size: 24px;
    margin-top: 20px;
  }
  .doctor-content-text p {
    font-size: 16px;
  }
  .hospital-info .primary-btn {
    padding: 8px 9px;
    gap: 2px;
    font-size: 14px;
    border-radius: 8px;
  }
  .media-content h4 {
    font-size: 24px;
  }
  .vision-text-box {
    bottom: 46px;
    position: inherit;
    right: 20px;
    width: 100%;
    padding: 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 24px;
    background-color: white;
  }
  .top-bottom-shape-box {
    width: 10%;
    height: 120px;
  }
  .section-title-lg {
    font-size: 45px;
  }
  .patients-say-info {
    padding: 12px;
  }
  .patients-say-info span {
    font-size: 12px;
  }
  .patients-say-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .patients-say-info-box {
    gap: 10px;
  }
  .filter-item select,
  .filter-item input {
    padding: 8px 10px;
    font-size: 15px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 991px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .common-heading-section p,
  .hero-btn {
    margin-top: 20px;
  }
  .common-heading-section h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .footer-bottom p {
    width: 100%;
    text-align: center;
  }
  .section-margin {
    margin-top: 80px;
  }
  .section-padding {
    padding: 80px 0;
  }
  .section-padding-bottom {
    padding-bottom: 80px;
  }
  .hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .header-area {
    background: #e6f4fe;
    padding-top: 0;
  }
  .footer-section {
    padding: 80px 0;
  }
  .bredadcrumb-list li,
  .bredadcrumb-list li a {
    font-size: 16px;
  }
  .common-heading-section h4 {
    font-size: 28px;
    line-height: 40px;
  }
  .breadcrumb-box {
    background-size: cover;
    padding: 60px 0;
  }
  .progress-card {
    width: 220px;
    height: 235px;
  }
  .vision-text-box {
    padding: 20px;
  }

  .patients-say-card {
    padding: 24px 15px;
  }
  .section-title-lg {
    font-size: 36px;
    line-height: 40px;
  }
  .section-title {
    font-size: 28px;

    line-height: 35px;
  }
  .qutation-icon {
    height: 24px;
    width: 24px;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumb-box h3 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .after-before-shape:after,
  .after-before-shape:before {
    opacity: 0;
  }
  .after-before-shape-visible:after,
  .after-before-shape-visible:before {
    opacity: 1;
    bottom: -8.2px;
  }

  .invert-border-shape {
    height: 90px;
    width: 90px;
  }
  .service-card-icon {
    height: 80px;
    width: 80px;
  }
  .navbar-brand img {
    max-width: 210px;
  }
  .common-heading-section h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .common-heading-section p,
  .hero-btn {
    margin-top: 15px;
  }
  .common-heading-section span {
    font-size: 18px;
    line-height: 20px;
  }
  .terms-list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-menu {
    width: 100%;
  }
  .slick-track {
    gap: 0px;
  }
  .service-card-content p {
    font-size: 16px;
    margin-top: 18px;
    line-height: 25px;
  }
  .service-card-content h4 {
    font-size: 22px;
  }
  .service-card-content {
    padding: 20px;
  }
  .footer-section {
    padding-bottom: 30px;
  }
  .tag-btn {
    padding: 2px 6px;
    font-size: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search-box {
    width: 320px;
  }
  .select-box-area {
    gap: 4px;
  }
  .input-item input,
  .input-item select,
  .input-item textarea {
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
  }
  .input-item label {
    font-size: 18px;
  }
  .file-label {
    padding: 11px 18px;
    height: 50px;
    font-size: 16px;
  }
  .file-label span {
    font-size: 16px;
  }
  .why-choose-thumbnails {
    width: 200px;
    margin: auto;
  }
  .progress-card-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-bg {
    padding: 60px 17px;
    border-radius: 21px;
    overflow: hidden;
  }
  .slick-initialized .slick-slide {
    display: block;
    margin: 0 10px !important;
  }
}
@media screen and (max-width: 480px) {
  .nav-item a {
    display: block;
  }
  .common-heading-section h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .widget-nav-item li a {
    font-size: 16px;
  }
  .widget-title {
    margin-bottom: 16px;
  }
  .footer-bottom {
    padding-top: 30px;
    margin-top: 20px;
  }
  .g-20 {
    gap: 12px;
  }
  .filter-item,
  .filter-item select,
  .filter-item input {
    width: 100%;
  }
  .filter-item input {
    padding-right: 12px;
  }
  .search-box {
    width: 280px;
    padding: 8px 14px;
  }
  .login-footer li span,
  .login-footer li a {
    font-size: 16px;
  }
  .checkmark {
    top: 0px;
  }
  .auth-logo img {
    max-width: 200px;
    width: 100%;
  }
  .filter-item .time-wrapper,
  .filter-item .date-wrapper {
    max-width: 100%;
    width: 100%;
  }
  
}